    <script id="tpl-lockerkey" type="text/html" th:fragment="lockerkeyTemp">
    <div class="am-popup-inner onebean-am-popup-inner">
        <div class="am-popup-hd">
            <h4 class="am-popup-title">钥匙管理</h4>
            <span data-am-modal-close class="am-close">&times;</span>
        </div>
        <div class="am-popup-bd" style="background: none!important;">
           <!-- <div class="widget-head am-cf">
                <div class="widget-title  am-cf">钥匙列表</div>
            </div>-->
            <div class="widget-body am-fr">

                    <input type="hidden" id="keyId" />
                    <div class="am-form-group">

                        <label >批量新增锁柜编号 :</label>
                        <div id="alertM">

                        </div>
                        <div >
                            从 <input type="number" min="0" class="tpl-form-input paramInput" id="startNum" name="startNum"  placeholder="请输入锁柜编号">
                            到 <input type="number" min="0" class="tpl-form-input paramInput" id="endNum" name="endNum"  placeholder="请输入锁柜编号">

                        </div>


                    </div>

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-12">
                        <div class="am-form-group" style="float: right">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button"  onclick="addKey()" class="am-btn am-btn-primary"><span class="am-icon-plus"></span> 新增</button>

                                    <!--<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>-->
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="am-u-sm-12">
                    <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius am-table-striped tpl-table-black "
                           id="example-r">
                        <thead>
                        <tr style="color: black">
                            <th>锁柜编号</th>
                            <th>当前用户</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="keyTable">

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


</script>