<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/public/head :: onLoadHead(首页)">

</head>
<body data-type="widgets">
<div class="am-g tpl-g">
    <!-- 模态提示组件 -->
    <div th:include="/public/tips :: Tips"></div>

    <!-- 数据选择模态组件 -->
    <div th:include="/course/courseImg :: courseDetailBind" class="am-popup"  id="data-bind-modal"></div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper none-margin">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <th:block th:include="/public/breadCrumbs :: breadCrumbsTempl"/>
                        </div>
                        <div class="widget-body am-fr">
                            <form class="am-form tpl-form-border-form tpl-form-border-br paramFrom" data-flush="1">
                                <div class="am-form-group">
                                    <label class="am-u-sm-1 am-form-label line-hight-10">课程名称 :</label>
                                    <div class="am-u-sm-2 am-u-end line-hight-10">
                                        <input type="text" class="tpl-form-input paramInput" param-pattern="coursename@string@like$"  placeholder="课程名称">
                                    </div>

                                    <label class="am-u-sm-1 am-form-label line-hight-10">所属案场 :</label>
                                    <div class="am-u-sm-2 am-u-end line-hight-10">
                                        <select  class="paramInput  onebean-param-select-box" data-am-selected  param-pattern="caseid@string@eq$" id="searchCase">
                                        </select>
                                    </div>

                                    <label class="am-u-sm-1 am-form-label line-hight-10">课程分类 :</label>
                                    <div class="am-u-sm-2 am-u-end line-hight-10">
                                        <select  class="paramInput  onebean-param-select-box" data-am-selected  param-pattern="coursetype@string@eq$" id="searchCourseType">
                                        </select>
                                    </div>
                                </div>
                                <div class="am-form-group">
                                    <label class="am-u-sm-1 am-form-label line-hight-10">课程类别 :</label>
                                    <div class="am-u-sm-1 am-u-end line-hight-10">
                                        <select  class="paramInput  onebean-param-select-box" data-am-selected  param-pattern="specialcourse@string@eq$" id="searchSpecialCourse">
                                        </select>
                                    </div>

                                    <label class="am-u-sm-2 am-u-md-2 am-u-lg-2 am-form-label">排序规则 :</label>
                                    <div class="am-u-sm-1 am-u-md-1 am-u-lg-1">
                                        <div class="am-form-group tpl-table-list-select">
                                            <select data-am-selected="{btnSize: 'sm'}" id="orderBySelector">
                                                <option value="coursestartline-desc" selected>课程开始时间降序</option>
                                                <option value="coursestartline-asc">课程开始时间升序</option>
                                            </select>
                                        </div>
                                    </div>

                                    <label class="am-u-sm-2 am-u-md-2 am-u-lg-2 am-form-label">每页数量/条 :</label>
                                    <div class="am-u-sm-1 am-u-md-1 am-u-lg-1 am-u-end">
                                        <div class="am-form-group tpl-table-list-select">
                                            <select data-am-selected="{btnSize: 'sm'}" id="limitSelector">
                                                <option value="5">5</option>
                                                <option value="10" selected>10</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                    <div class="am-form-group" style="float: right">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-success" onclick="routingPage('/course/addCourse','新增课程')" ><span class="am-icon-plus"></span> 新增</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-secondary query-button"><span class="am-icon-search"></span> 查询</button>
                                                <button type="button"  class="am-btn am-btn-default am-btn-warning reset-button"><span class="am-icon-archive"></span> 重置</button>
                                                <!--<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius am-table-striped tpl-table-black "
                                       id="example-r">
                                    <thead>
                                    <tr>
                                      <!--  <th>ID</th>-->
                                        <th>课程名称</th>
                                     <!--   <th>课程类型</th>-->
                                        <th>课程价格</th>
                                        <!--<th>课程人数</th>-->
                                        <th>课程分类</th>
                                        <th>课程类别</th>
                                        <th>所在案场</th>
                                        <th>课程开始时间</th>
                                        <th>课程结束时间</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody id="dataTable">

                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr" id="pagination">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">警告</div>
        <div class="am-modal-bd">
            确认删除该课程吗?
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

    <css th:replace="/public/css :: onLoadCSS"></css>
    <js th:replace="/public/js :: onLoadJS"></js>
    <link th:href="${oss_ctx}+@{system_assets/css/upload/amazeui.upload.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/assets/js/course/course.js}" type="text/javascript"></script>

    <script id="tpl-course" type="text/html">
        {{each $data as data}}
        <tr  class={{if $index%2==0}} "gradeX" {{else}} "even gradeC" {{/if}} >
        <td> <a href="javascript:;" onclick="routingPage('/course/viewCourse/{{data.id}}','查看课程')">{{data.coursename}}</a> </td>
        <td>{{data.courseprice}}</td>
        <td>{{data.coursetypename}}</td>
        <td>{{data.coursespecialname}}</td>
        <td>{{data.casename}}</td>
        <td>{{data.coursestartline_str}}</td>
        <td>{{data.courseendline_str}}</td>
        <td>
            <div class="tpl-table-black-operation">
                {{if data.ispublic==0}}
                    <a href="javascript:;" onclick="routingPage('/course/editCourse/{{data.id}}','编辑课程')">
                        <i class="am-icon-pencil"></i> 编辑
                    </a>
                {{/if}}

                {{if data.ispublic==0}}
                <a href="javascript:;" data-url="/course/deleteCourse/{{data.id}}" class="tpl-table-black-operation-del del-course">
                    <i class="am-icon-trash" ></i> 删除
                </a>
                {{/if}}
                <a href="javascript:;" data-url="" class="tpl-table-black-operation-warn" onclick="modalCourse({{data.id}})">
                    <i class="am-icon-users" ></i> 添加课程详情
                </a>

                {{if data.specialclass==802 || data.specialclass==804}}
                {{if data.ispublic==0}}
                <a href="javascript: void(0)" onclick="tabToTab(this)" data-url="/coursesub/listsubCourse?courseid={{data.id}}" data-name="{{data.coursename}}排课信息">  <i class="am-icon-users" ></i>排课</a>
                {{/if}}
                {{/if}}

                <a href="javascript:;" onclick="routingPage('/course/copyCourse/{{data.id}}','复制课程')">
                    <i class="am-icon-users" ></i> 复制课程
                </a>

                {{if data.ispublic==0}}
                <a href="javascript: void(0)" onclick="updateIsPublic({{data.id}},1)" data-name="发布">
                    <i class="am-icon-users" ></i> 发布
                </a>
                {{else if data.ispublic==1}}
                <a href="javascript: void(0)" onclick="updateIsPublic({{data.id}},0)" data-name="取消发布">
                    <i class="am-icon-users" ></i> 取消发布
                </a>
                {{/if}}
                {{if data.isgoon == 1}}
                <a href="javascript:;" onclick="routingPage('/coursesub/delay/{{data.id}}','推迟上课')">
                    <i class="am-icon-pencil"></i> 推迟上课
                </a>
                {{/if}}
            </div>
        </td>
        </tr>
        {{/each}}
    </script>

    <script type="text/javascript" >
    $(function () {
        initAllCase($("#searchCase"));
        initAllCourse($("#searchCourseType"),$("#searchSpecialCourse"));
        initDataTable();
    });




    //初始化所有案场
    function initAllCase(target) {
        $.ajax({
            type:'get',
            dataType:'json',
            url:'[(${ctx})]/syscasefield/findAllCase',
            success:function (result) {
                var values = result.data;
                target.html('');
                if(values.length!=0){
                    var html = '<option value="  " >' +'请选择'+ '</option>';
                    for(var i=0;i<values.length;i++){
                        html+='<option value="'+values[i].id+'">'+values[i].casefieldname+'</option>';
                    }
                }
                target.html(html);
            }
        })
    }
    //初始化所有课程类型
    function initAllCourse(target,secondTarget) {
        $.ajax({
            type:'get',
            dataType:'json',
            url:'[(${ctx})]/coursetype/findByParam?parentid=1',
            success:function(result){
                var values = result.data;
                var children = new Array();
                target.html('');
                if(values.length!=0){
                    var html = '<option value=" ">' +'请选择'+ '</option>';
                    for(var i=0;i<values.length;i++){
                        if(values[i].childList.length!=0){
                            for(var j=0;j<values[i].childList.length;j++){
                                children.push(values[i].childList[j]);
                            }
                        }
                        html+='<option value="'+values[i].id+'">'+values[i].name+'</option>';
                    }
                    target.html(html);
                }
                if(children.length!=0){
                    var html = '<option value=" ">' +'请选择'+ '</option>';
                    for(var i=0;i<children.length;i++){
                        html+='<option value="'+children[i].id+'">'+children[i].name+'</option>';
                    }
                    secondTarget.html(html);
                }
            }
        })
    }

    $('body').on('click','.del-course',function () {
        $('#my-confirm').modal({
            relatedTarget: this,
            onConfirm: function(options) {
                var $url = $(this.relatedTarget).data('url');
                var $ctx = $('title').data('ctx');
                var url = $ctx+ $url;
                debugger;
                $.ajax({
                    url:url,
                    type:"get",
                    dataType:"json",
                    async:false,
                    success:function (result) {
                        if(!result.flag){
                            alert(result.msg);
                        }else{
                            initDataTable();
                        }
                    }
                })
            },
            onCancel: function() {
            }
        });
    })

    var completeHandler = function (arr) {
        $('#upload-modal').modal('close');
        var upType = $("#upType").val();
        if(upType=='1'){//新增
            if(arr.length!=0){
                var courseid = $('#courseid').val();
                var courseDetail = new Object();
                courseDetail.courseid=courseid;
                courseDetail.sort=$("#sort").val();
                courseDetail.imgs = arr;
                $.ajax({
                    url:'[(${ctx})]/coursedetail/batchSave',
                    dataType:'json',
                    type:'post',
                    async:false,
                    data:{value:JSON.stringify(courseDetail)},
                    success:function (result) {
                        if(result.flag){
                            initImgDataTable();
                        }
                    }
                })
            }
        }
        if(upType=='0'){//编辑
            if(arr.length !=0){
                $("#sortImg").show();
                $('#img_url').val(arr[0]);
                $('#iconImg').attr("src",arr[0]);
                $('.am-dimmer').addClass("am-active");
                $('.am-dimmer').show();
            }
        }
    }
    function initDataTable(){
        var pageSize = $("#limitSelector").val();
        var currentPage = $("#tpl-pagination").attr("currentPage");
        var orderBy = $("#orderBySelector").val().split('-')[0];
        var sort = $("#orderBySelector").val().split('-')[1];
        var param = {orderBy:orderBy,sort: sort,currentPage: currentPage, pageSize: pageSize, conditionList: formatQueryFromParam()}
        doGet("/course/listCourse",param,function (res) {
            $('#dataTable').html(template('tpl-course', res.data));
            $('#pagination').html(template('tpl-pagination', res.pagination))
        })
    }

    function updateIsPublic(id,ispublic) {
        $.ajax({
            url:'[(${ctx})]/course/updateispublic',
            type:'post',
            dataType:'json',
            async:false,
            data:{id:id,ispublic:ispublic},
            success:function (result) {
                if(result.flag){
                    initDataTable();
                }
            }
        })
    }
</script>
    <script id="tpl-courseDetail" type="text/html" th:replace="/course/coursetemplate :: courseDetail"></script>
    <script id="tpl-pagination" type="text/html" th:replace="/public/pagination :: paginationTemplate"></script>
    <script id="tpl-uploadTips" type="text/html" th:replace="/public/upload :: uploadTipsTemp"></script>
    <script id="tpl-jtab" type="text/html" th:include="/public/tab :: oenbean-tabTemplate"></script>

    <div class="am-popup"  id="upload-modal"></div>
</body>
</html>