<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:course="http://www.w3.org/1999/html" xmlns:caseField="http://www.w3.org/1999/html">
<head th:replace="/public/head :: onLoadHead(体验劵管理)">
</head>
<body ddata-type="widgets">

<div class="am-g tpl-g">
    <!-- 模态提示组件 -->
    <div th:include="/public/tips :: Tips"></div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper none-margin">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">

                            <div class="row">

                                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                                    <div class="widget am-cf">
                                        <div class="widget-head am-cf">
                                            <div class="widget-title am-fl" th:if="${add}">新增卡券</div>
                                            <div class="widget-title am-fl" th:if="${view}">查看卡券</div>
                                            <div class="widget-title am-fl" th:if="${edit}">编辑卡券</div>
                                        </div>
                                        <div class="widget-body am-fr">

                                            <form class="am-form tpl-form-border-form tpl-form-border-br" id="DataFrom">
                                                <input type="hidden" name="id" th:value="${entity.id}">
                                                <input type="hidden" name="target_id" th:value="${entity.goods_id}" id="target_id">
                                                <input type="hidden" id="price" name="price" th:value="0">
                                                <div class="am-form-group">
                                                    <label for="name" class="am-u-sm-3 am-form-label">体验券名称 <span class="tpl-form-line-small-title">:</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" class="tpl-form-input" name="name" id="name" placeholder="请输入体验券名称" th:disabled="${view}" th:inline="text" th:value="${entity.name}">
                                                        </input>
                                                    </div>
                                                </div>
                                                <div class="am-form-group">
                                                    <label for="start_time" class="am-u-sm-3 am-form-label">体验券开始时间 <span class="tpl-form-line-small-title">:</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" class="tpl-form-input" name="start_time" id="start_time" th:disabled="${view}" th:inline="text" th:value="${entity.start_time}">
                                                        </input>
                                                    </div>
                                                </div>

                                                <div class="am-form-group">
                                                    <label for="end_time" class="am-u-sm-3 am-form-label">体验券结束时间 <span class="tpl-form-line-small-title">:</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" class="tpl-form-input" name="end_time" id="end_time" th:disabled="${view}" th:inline="text" th:value="${entity.end_time}">
                                                        </input>
                                                    </div>
                                                </div>



                                                <!--<div class="am-form-group">-->
                                                    <!--<label for="org_id" class="am-u-sm-3 am-form-label">所属机构 <span class="tpl-form-line-small-title">:</span></label>-->
                                                    <!--<div class="am-u-sm-9"  th:with="pid=(${entity.org_id} != null)?${entity.org_id}:1">-->
                                                        <!--<input type="hidden" class="treeValue" name="org_id" id="org_id" th:value="${pid}">-->
                                                        <!--<tree:org th:attr="disabled=${view},value=${entity.org_id},pid=${pid}"  th:unless="${add}"/>-->
                                                        <!--<tree:org th:attr="pid=${pid}" th:if="${add}"/>-->
                                                        <!--&lt;!&ndash;<small th:unless="${view}">从机构树上选择一个机构</small>&ndash;&gt;-->
                                                    <!--</div>-->
                                                <!--</div>-->







                                                <!--<div class="am-form-group">
                                                    <label for="ticket_type" class="am-u-sm-3 am-form-label">类型 <span class="tpl-form-line-small-title">:</span></label>
                                                    <div class="am-u-sm-9">
                                                        <dic:code name="ticket_type" id="ticket_type" code="TYJ_TYPE" th:attr="value=${entity.ticket_type},disabled=${view}" />
                                                    </div>
                                                </div>-->



                                                <!--<div class="am-form-group" id="act">
                                                    <label for="act_id" class="am-u-sm-3 am-form-label">课程：<span class="tpl-form-line-small-title">:</span></label>
                                                    <div class="am-u-sm-9" >
                                                        <select id ="act_id" name="act_id" data-am-selected="{btnSize: 'sm'}"></select>
                                                    </div>
                                                </div>-->


                                                <!--<div class="am-form-group" id="goods">
                                                    <label for="goods_id" class="am-u-sm-3 am-form-label">商品：<span class="tpl-form-line-small-title">:</span></label>
                                                    <div class="am-u-sm-9" >
                                                        <select id ="goods_id" name="goods_id" data-am-selected="{btnSize: 'sm'}"></select>
                                                    </div>
                                                </div>-->

                                                <!--<div class="am-form-group">
                                                    <label for="price" class="am-u-sm-3 am-form-label">体验券价格 <span class="tpl-form-line-small-title">:</span></label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" class="tpl-form-input" name="price" id="price" placeholder="请输入体验券价格" th:disabled="${view}" th:inline="text" th:value="${entity.price}">
                                                        </input>
                                                    </div>
                                                </div>-->
                                                <div class="am-form-group">
                                                    <label for="remarks" class="am-u-sm-3 am-form-label">体验券描述 <span class="tpl-form-line-small-title">:</span></label>
                                                    <div class="am-u-sm-9">
                                                        <!--<input type="text" class="tpl-form-input" name="remarks" id="remarks" placeholder="请输入体验券描述" th:disabled="${view}" th:inline="text" maxlength="30">
                                                        </input>-->
                                                        <th:block th:if="${not #lists.isEmpty(entity.remarks)}">
                                                            <textarea name="remarks" id="remarks"  placeholder="请输入体验券描述 "  th:disabled="${view}" th:inline="text" maxlength="30">[[${entity.remarks}]]</textarea>
                                                        </th:block>

                                                        <th:block th:if="${#lists.isEmpty(entity.remarks)}">
                                                            <textarea name="remarks" id="remarks"  placeholder="请输入体验券描述 "  th:disabled="${view}" th:inline="text" maxlength="30"></textarea>
                                                        </th:block>
                                                    </div>
                                                </div>




                                                <div class="am-form-group">
                                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                                        <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success" th:unless="${view}">提交</button>
                                                        <button type="button" class="am-btn am-btn-warning" th:onclick="'routingPage(\'/cardGoods/edit/'+${entity.id}+'\',\'编辑卡券\')'" th:if="${view}">编辑</button>
                                                        <button type="button" class="am-btn am-btn-danger" onClick="routingPage('/cardGoods/preview/','卡券列表')">返回</button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
    </div>
</div>

<css th:replace="/public/css :: onLoadCSS"></css>
<js th:replace="/public/js :: onLoadJS"></js>
<script  th:inline="javascript">




    $(function () {
        validateFrom();
        goodslist();

    });
    $('#start_time').datetimepicker({
        language:  'zh-CN',
        format: 'yyyy-mm-dd 00:00:00',
        autoclose: true,
        startView:2,
        minView:'month',
        maxView:1,
        startDate: getTodayDataStr()
    });
    $('#end_time').datetimepicker({
        language:  'zh-CN',
        format: 'yyyy-mm-dd 23:59:59',
        autoclose: true,
        startView:2,
        minView:'month',
        maxView:1,
        startDate: getTodayDataStr()
    });


    function goodslist() {
        var url = '/localgoodsfield/allGoods';
        var id = '#goods_id';
        var param = '';
        doPost(url,param,function (result) {
            var data = result.data;
            $(id).html('');
            var target_id = $('#target_id').val();
            for (var i=0;i<data.length;i++){
                if(data[i].id == target_id){
                    $(id).append("<option selected value="+data[i].id+">"+data[i].goods_name+"</option>");
                }else {
                    $(id).append("<option value="+data[i].id+">"+data[i].goods_name+"</option>");
                }
            }
            $(id).selected('destroy');
            $(id).selected();
        });
    }




    /**
     * 校验登录表单
     * @returns void
     */
    function validateFrom(){
        $("#DataFrom").validate({
            rules: {

                name: {
                    required:true,
                    maxlength: 50
                },
                start_time:{
                    required:true
                },
                end_time:{
                    required:true
                },
                price:{
                    required:true,
                    min:0
                }

            },
            submitHandler: function(form) { //验证成功时调用
                var start = $('#start_time').val();
                var end = $('#end_time').val();
                if(start == '' || start == null){
                    alert('请输入开始时间');
                    return
                }
                if(end == '' || end == null){
                    alert('请输入结束时间');
                    return
                }
                var s = new Date(start).valueOf();
                var e = new Date(end).valueOf();
                console.log(s)
                console.log(e)
                if (e<s){
                    alert('结束时间不能早于开始时间');
                    return
                }

                    var param = $('#DataFrom').serializeJson();
                    var url = "/cardGoods/save";
                    function completeHandler(data) {
                        routingPage('/cardGoods/preview','体验券列表')
                    }
                    doGet(url,param,completeHandler)



            }
        });
    }






</script>
<!-- Pr树模态组件 -->
<script id="tpl-PrTreeTempl" type="text/html"  th:replace="/sysrole/template :: PrTreeTempl"></script>
<!-- 机构树模态组件 -->

</body>
</html>