<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="/public/head :: onLoadHead(首页)">

</head>
<body data-type="widgets">
<div class="am-g tpl-g">
    <!-- 模态提示组件 -->
    <div th:include="/public/tips :: Tips"></div>

    <!-- 数据选择模态组件 -->
    <div th:include="/public/dataBind :: RuBindTips" class="am-popup"  id="data-bind-modal"></div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper none-margin">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title  am-cf">商品劵列表</div>
                        </div>
                        <div class="widget-body am-fr">
                            <form class="am-form tpl-form-border-form tpl-form-border-br paramFrom" data-flush="1">
                                <div class="am-form-group">

                                <div class="am-form-group">

                                    <label class="am-u-sm-3 am-u-md-3 am-u-lg-3 am-form-label">每页数量/条 :</label>
                                    <div class="am-u-sm-1 am-u-md-1 am-u-lg-1 am-u-end">
                                        <div class="am-form-group tpl-table-list-select">
                                            <select data-am-selected="{btnSize: 'sm'}" id="limitSelector">
                                                <option value="5">5</option>
                                                <option value="10" selected>10</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="am-u-sm-12 am-u-md-6 am-u-lg-12">
                                    <div class="am-form-group" style="float: right">
                                        <div class="am-btn-toolbar">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button type="button" class="am-btn am-btn-default am-btn-success" onclick="routingPage('/cardGoods/add','新增体验券')"><span class="am-icon-plus"></span> 新增</button>
                                                <button type="button" class="am-btn am-btn-default am-btn-secondary query-button"><span class="am-icon-search"></span> 查询</button>
                                                <button type="button"  class="am-btn am-btn-default am-btn-warning reset-button"><span class="am-icon-archive"></span> 重置</button>
                                                <!--<button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-bordered am-table-radius am-table-striped tpl-table-black "
                                       id="example-r">
                                    <thead>
                                    <tr>
                                        <th>卡券名称</th>
                                        <!--<th>商品名称</th>
                                        <th>图片</th>
                                        <th>价格</th>
                                        <th>类型</th>-->
                                        <th>开始时间</th>
                                        <th>结束时间</th>
                                        <!--<th>操作</th>-->
                                    </tr>
                                    </thead>
                                    <tbody id="dataTable">

                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">
                                <div class="am-fr" id="pagination">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <css th:replace="/public/css :: onLoadCSS"></css>
    <js th:replace="/public/js :: onLoadJS"></js>
    <script type="text/javascript" >
        $(function () {
            initDataTable()
        })

        function initDataTable(){
            if($('.paramFrom').data('flush') == '1'){
                $('.paramFrom').data('flush','0');
                var pageSize = $("#limitSelector").val();
                var currentPage = $("#tpl-pagination").attr("currentPage")
                var orderBy = ''
                var sort = ''
                var param = {orderBy: orderBy, sort: sort, currentPage: currentPage, pageSize: pageSize, conditionList: formatQueryFromParam()}
                doGet("/cardGoods/goodsList",param,function (res) {
                    $('#dataTable').html(template('tpl-localgoodsfield', res.data));
                    $('#pagination').html(template('tpl-pagination', res.pagination))
                    $('.paramFrom').data('flush','1');
                })
            }

        }

        function deleteGoods(id) {
            $(".confirm-modal-title").html("警告");
            $(".confirm-modal-message").html("你，确定要删除这条记录吗？");
            $(".confirm-modal-btn-cancel").html("取消");
            $(".confirm-modal-btn-confirm").html("确定");
            $('#confirm-modal').modal({
                relatedTarget: this,
                onConfirm: function(){
                    var url = "/cardGoods/deleteCard/"+id;
                    var completeHandler = function (data) {
                        alert(data.msg);
                        initDataTable();
                    }
                    var paramImg={};
                    doPost(url,paramImg,completeHandler);
                },
                onCancel: function(){}
            });
        }

    </script>
    <script id="tpl-localgoodsfield" type="text/html">
        {{each $data as data}}
        <tr  class={{if $index%2==0}} "gradeX" {{else}} "even gradeC" {{/if}} >
        <td>{{data.name}}</td>
       <!-- <td>{{data.goods_name}}</td>
        <td><img  {{if !data.img_url}} style="display:none" {{else}} "display:block" {{/if}} src={{data.img_url}} class="tpl-table-line-img" alt=""></td>
        <td>{{data.price}}</td>
        <td>{{data.type}}</td>-->
        <td>{{data.startStr}}</td>
        <td>{{data.endStr}}</td>
        <td>
            <div class="tpl-table-black-operation">
                <a href="javascript:;" onclick="routingPage('/cardGoods/edit/{{data.id}}','编辑卡券')">
                    <i class="am-icon-pencil"></i> 编辑
                </a>
                <a href="javascript:;" onclick="deleteGoods({{data.id}})"  class="tpl-table-black-operation-del">
                    <i class="am-icon-trash" ></i> 删除
                </a>
            </div>
        </td>
        </tr>
        {{/each}}
    </script>
<script id="tpl-pagination" type="text/html" th:replace="/public/pagination :: paginationTemplate"></script>
</body>
</html>