<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/public/head :: onLoadHead(用户管理)">
</head>
<body ddata-type="widgets">
<div class="am-g tpl-g">
    <!-- 模态提示组件 -->
    <div th:include="/public/tips :: Tips"></div>
    <!-- 数据选择模态组件 -->
    <div th:include="/public/dataBind :: RuBindTips" class="am-popup"  id="data-bind-modal"></div>
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper none-margin">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="row">
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                            <div class="widget am-cf">
                                <div class="widget-head am-cf">
                                    <div class="widget-title am-fl" th:if="${add}">新增热搜词</div>
                                    <!--<div class="widget-title am-fl" th:if="${view}">查看用户</div>-->
                                    <div class="widget-title am-fl" th:if="${edit}">编辑热搜词</div>
                                </div>
                                <div class="widget-body am-fr">

                                    <form class="am-form tpl-form-border-form tpl-form-border-br" id="DataFrom">
                                        <input type="hidden" name="id" th:value="${entity.id}">


                                        <div class="am-form-group">
                                            <label for="name" class="am-u-sm-3 am-form-label">热搜词名称 <span class="tpl-form-line-small-title">:</span></label>
                                            <div class="am-u-sm-9">
                                                <input type="text" class="tpl-form-input" name="name" id="name" placeholder="请输入热搜词名称" th:disabled="${view}" th:value="${entity.name}">
                                            </div>
                                        </div>


                                        <div class="am-form-group">
                                            <label for="weight" class="am-u-sm-3 am-form-label">权重 <span class="tpl-form-line-small-title">:</span></label>
                                            <div class="am-u-sm-9">
                                                <input type="number" class="tpl-form-input" name="weight" id="weight" placeholder="请输入权重" th:disabled="${view}" th:value="${entity.weight}">
                                                <small th:unless="${view}">热搜词排序权重,限数字</small>
                                            </div>
                                        </div>

                                        <!--<div class="am-form-group">-->
                                            <!--<label for="url" class="am-u-sm-3 am-form-label">链接 <span class="tpl-form-line-small-title">:</span></label>-->
                                            <!--<div class="am-u-sm-9">-->
                                                <!--<input type="text" class="tpl-form-input" name="url" id="url" placeholder="请输入链接路径" th:disabled="${view}" th:value="${entity.url}">-->
                                            <!--</div>-->
                                        <!--</div>-->


                                        <div class="am-form-group">
                                            <div class="am-u-sm-9 am-u-sm-push-3">
                                                <button type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success" th:unless="${view}">提交</button>
                                                <button type="button" class="am-btn am-btn-warning" onClick="routingPage('\'/hotsearchword/edit/'+${entity.id}+'\'','编辑热搜词')" th:if="${view}">编辑</button>
                                                <button type="button" class="am-btn am-btn-danger" onclick="routingPage('/hotsearchword/preview/','热搜词列表')">返回</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<css th:replace="/public/css :: onLoadCSS"></css>
<js th:replace="/public/js :: onLoadJS"></js>
<script th:inline="javascript">
    $(function () {
        validateFrom();
    })

    // var completeHandler = function (arr) {
    //     $('#upload-modal').modal('close');
    //     if(arr.length == 1){
    //         $('#icon').val(arr[0]);
    //         $('#iconImg').attr("src",arr[0]);
    //     }else{
    //         $(".alert-modal-message").html("上传文件错误");
    //         $(".alert-modal-title").html("只能上传一张图片作为头像!");
    //         $(".alert-modal-button").html("额...好吧");
    //         $('#alert-modal').modal('open');
    //     }
    // }

    /**
     * 校验登录表单
     * @returns void
     */
    function validateFrom(){
        $("#DataFrom").validate({
            rules: {
                name:{
                    required:true,
                    maxlength:65
                },
                weight: {
                    required:true,
                    maxlength:4
                },
                // url:{
                //     required:true
                // }

            },
            submitHandler: function(form) { //验证成功时调用
                var param = $('#DataFrom').serializeJson();
                var url = "/hotsearchword/save"
                var completeHandler = function (data) {
                    routingPage('/hotsearchword/preview/','热搜词列表')
                }
                doPost(url,param,completeHandler)
            }
        });
    }

</script>
<div class="am-popup"  id="upload-modal"></div>
</body>
</html>