<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycjcjy.gene.dao.SysCaseFieldDao" >

	<parameterMap id="sysCaseFieldParamMap" type="com.ycjcjy.gene.model.SysCaseField"></parameterMap>

	<select id="findByCaseFieldName" parameterType="string" resultType="com.ycjcjy.gene.model.SysCaseField">
		select u.*
		from sys_case_field u
        where u.casefieldname= #{casefieldname}
	</select>

	<update id="updateAvailById" parameterType="com.ycjcjy.gene.model.SysCaseField">
		UPDATE sys_case_field
		SET avail = avail + #{avail,jdbcType=DECIMAL}
		WHERE
			id = #{id,jdbcType=BIGINT}

	</update>

	<update id="cutMoney" parameterType="com.ycjcjy.gene.model.SysCaseField">
		update sys_case_field
		set avail = avail - #{avail,jdbcType=DECIMAL}
		where id = #{id,jdbcType=BIGINT}
	</update>

	<select id="findByFileldId" parameterType="string" resultType="com.ycjcjy.gene.model.SysCaseField">
		SELECT * FROM `sys_case_field` where id = #{id}
	</select>

	<select id="findSysCaseFields" parameterMap="sysCaseFieldParamMap" resultType="com.ycjcjy.gene.model.SysCaseField">
		select
		t.*
		from sys_case_field t
		<where>
			<if test="id !=null and id!=''">
				and t.id = #{id}
			</if>
			<if test="casefieldname !=null and casefieldname!=''">
				and t.casefieldname = #{casefieldname}
			</if>
		</where>
		<if test="base_sort !=null and base_sort !=''">
			order by ${base_orderBy}  ${base_sort}
		</if>
		<if test="base_pageSize !=null and base_pageSize !=''">
			limit  ${base_offset},${base_pageSize}
		</if>
	</select>

	<select id="getAllCount" parameterMap="sysCaseFieldParamMap" resultType="Integer">

		select count(1) from (
		select
		t.*
		from sys_case_field t
		<where>
			<if test="id !=null and id!=''">
				and t.id = #{id}
			</if>
		</where>
		)
		faketable

	</select>

	<select id="findByCaseIds" resultType="com.ycjcjy.gene.model.SysCaseField">
		select t.* from sys_case_field t
		<where>
			id
			<foreach collection="caseids" item="id" open="in (" close=")" separator=",">
				#{id}
			</foreach>
		</where>
	</select>


</mapper>