<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ycjcjy.gene.dao.TeacherBadgeDao" >
    
    <select id="selectbadgeByTeacherId" parameterType="int" resultType="com.ycjcjy.gene.model.TeacherBadge">
        SELECT  *
        FROM teacher_badge
        WHERE id IN (
            SELECT  badge_id
            FROM teacher_badge_rela
            WHERE teacher_id = #{teacherId}
        )
    </select>
    
</mapper>